---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-project-arbiter-io-v1alpha1-occupant
  failurePolicy: Ignore
  name: moccupant.project-arbiter.io
  rules:
  - apiGroups:
    - project-arbiter.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - occupants
  sideEffects: None
