apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: system/serving-cert
webhooks:
- name: mproject.project-arbiter.io
  admissionReviewVersions:
  - v1
  sideEffects: None
  failurePolicy: Ignore
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-project-arbiter-io-v1alpha1-project
  rules:
  - apiGroups:
    - project-arbiter.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - projects
    scope: "*"
