apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: arbiter
    app.kubernetes.io/managed-by: kustomize
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: controller-manager
    app.kubernetes.io/name: arbiter
